@import "font-icons";
@include font-icon-family(entypo);
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

/* Colors */
$emergency-red: #EE5646;
$cnmblue: #004890;
$cnmyellow: #FBD10B;
$white: #FFFFFF;
$darkgray: #3C3D3E;
$mediumgray: #D0D2D4;
$lightgray: #F5F7F9;
$navitemseparator: #ced8e1;
$navbar-selected-background-color: #0f0c5d;
$navbar-dropdown-background-color: #fae790;
$navbar-dropdown-separator-color: #a09b85;

/* Hover Effects */
$steps-hover: scale-lightness($mediumgray, 50%);

/* Font Colors */
$emergency-font-color: #FFFFFF;
$default-font-color: #2d2d2f;
$light-font-color: #3c3e3f;
$footer-links-color: #FFFFFF; /* White */
$footer-font-color: #aebfd0; /* Light blue */
$heading-font-color: #0f0c5d; /* Deep blue */
$description-font-color: #668eb6; /* Medium blue */
$steps-font-color: #494a4c; /* Medium gray */
$link-color: #1b60a4;
$visited-link-color: #8b9bab;
$navbar-selected-font-color: #FBF0C0;
$navbar-dropdown-font-color: #04192d;

$h1-font-size: 28px;
$navbar-font-size: 14px;

@mixin arial {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
@mixin lato {
  font-family: 'Lato', sans-serif;
}
@mixin oswald {
  font-family: 'Oswald', sans-serif;
}
@mixin fixed-width {
  width: 60em; 
  margin: 0 auto;
}
@mixin read-more {
  background-color: $cnmblue;
  color: $white;
  font-style: normal;
  @include oswald;
  padding: 0 20px;
  @include border-left-radius(8px);
  line-height: 25px;
  display: inline-block;
}

$step-height: 46px;

/* Responsive breakpoints */
$max-width: 767px;
$min-width: 768px;