@import "cnmresponsive_variables";

body {
  -webkit-text-size-adjust: 100%;
}

/* Header */
#header-wrapper {
  display: none;
}

/* Navigation Bar */
#navigation {
  width: auto;
  background-color: $cnmblue;
  color: $white;
}
#nav-wrapper {

  .bootstrapStyles {
    a.brand {
      display: inline-block;
      img {
        height: 40px;
      }
    }
  }
}

/* Homepage */
#frontpage-news-wrapper {
  .row .cell {
    display: none;
  }
  .row .cell:first-child {
    display: block;
    width: 97.75%;
  }
  .description {
    display: none;
  }
}
#main {

}

#homepage-bottom {
  #steps {
    color: $steps-font-color;
    background-color: $mediumgray;
    line-height: $step-height;
    
    * {
      vertical-align: middle;
    }
    ul {
      display: block; // unique
      text-align: left;
      padding: 2px 0px 2px 0px;
    }
    li {
      display: list-item; //unique
      width: auto;
      margin: 0;
      padding: 7px 0 7px 10px;
      border-top: 1px solid $white;
    }
    li:first-child {
      border-top-width: 0;
    }
    a {
      line-height: $step-height;
      display: block;
      height: $step-height;
      color: $steps-font-color;
      @include lato;
      font-size: 18px;
    }
    h3 {
      position: static; //unique
      top: auto; //unique
      @include oswald;
      font-size: 31px;
      color: #b4b6b8;
      background-color: $white;
      display: inline-block;
      width: $step-height;
      height: $step-height;
      line-height: $step-height;
      @include border-radius(50%);
      text-align: center;
      margin: -4px 5px 0 0;
      position: relative;
    }
    //unique from here on
    .description {
      position: static;
      top: auto;
      display: inline;
    }
    .learnMore {
      display: none;
    }
  }
}

/* Portlets */
.portlet-static-mycnm {
  display: none;
}
.portletRss {
  display: none;
}
body.portaltype-homepage .portletRss {
  display: block;
}

/* Content */
#main {
  width: auto;
}
#portal-breadcrumbs {
  display: none;
}
#popular-cell {
  margin-left: -98.875%;
  width: 97.75%;
}

/* Footer */
#footer-wrapper {
  #footer {
    padding: 0;
    width: auto;
  }
  #footerlinks {
    display: none;
  }
}

#colophon-wrapper {
  background-color: $cnmblue;
  
  #colophon {
    width: auto;
  }
  #blackboard-footer {
    float: right;
    font-size: 14px;
    line-height: 20px;
  }
}
#colophon-text {
  text-align: center;
  .footer-mobile-bottom {
    text-transform: uppercase;
  }
}

/* Helpers */
.fullWidthOnMobile {
  margin-left: -98.875% !important;
  width: 97.75% !important;
  clear: both;
}