@import "cnmresponsive_variables";
@import "tiny_customs";

body {
  color: $default-font-color;
  @include arial;
}


a {
  color: $link-color;
}
a:visited {
  color: $visited-link-color;
}
#emergency-wrapper {
  background-color: $emergency-red;
  #emergency-width {
    @include fixed-width;
  }
  h1 {
    color: $emergency-font-color;
    border-color: #B94A48;
    border-width: 0;
    margin: 10px 0px;
    padding-bottom: 0px;
  }
  li {
    display: block;
    margin-bottom: 10px;
    a {
      display: block;
      color: $emergency-font-color;
      text-decoration: underline;
    }
  }
}
#header {
  @include fixed-width;
  padding: 20px 0;
}
#navigation
{
  @include fixed-width;
}

#header-wrapper {
  background: $cnmblue url(img/CNM_web_header.png) no-repeat right top;
  //background-color: $cnmblue;
  color: $white;
}
#header-wrapper a {
  color: $white;
}

#portal-siteactions {
  text-align: right;
  @include lato;
  font-size: 14px;
  margin-bottom: 10px;
  li {
    margin-left: 20px;
  }
  a {
    @include font-icon-base(entypo);
    line-height: 20px;
  }
  a:before {
    font-size: 1.5em;
    margin-right: 0.2em;
  }
  #siteaction-chat-now a:before {
    content: "";
  }
  #siteaction-mycnm a:before {
    content: "🔒";
  }
  #siteaction-distance-learning a:before {
    content: "✎";
  }

  #siteaction-chat-now a {
    @extend %entypo-comment;
  }
  #siteaction-mycnm a {
    @extend %entypo-lock;
  }
  #siteaction-distance-learning a {
    @extend %entypo-pencil;
  }
}

/* Search */
#portal-searchbox {
    float: right; 
    margin: 1% 0 0 0; 
    width: 225px; 
    padding: 0;
    background: #fff;
    border: 1px solid $cnmblue;
    input[name="q"], #searchGadget {
        padding: 1.2% 0  1.1% 0;
        margin-right: 0.6%;
        text-indent: 2%;
        width: 85%;
        font-size:1.1em;
        background: transparent;
        border: none;
        color: #7fa3c7;
        font-style: italic;  
    }
    form, form .LSBox {
        font-size: 100%;
    }
    .searchButton {
        font-size:0.8em; 
        width: 10%; 
        padding:1.899% 0  1.2% 0; 
        text-align:center;
        text-indent: -1000em;
        background: transparent url(img/search-icon.png) no-repeat;
        border: none;
        cursor: pointer;
    }
}
#LSResult {z-index:9999; margin-top: 0.5%;}

/*Nav Bar*/
#nav-wrapper {
  background-color: $cnmyellow;

  .bootstrapStyles {
    a.brand {
      display: none;
      img {
        height: 40px;
      }
    }
    .navbar {
      margin-bottom: 0;
    }
    .navbar-inner {
      background-color: transparent;
      background-image: none;
      border-width: 0;
      @include border-radius(0);
      @include box-shadow(none);
      padding: 0;
    }
    ul.nav {
      margin: 0;
      //display: table;
      //width: 100%;
      > li {
        //display: table-cell;
        /* float: none; */ /* Breaks drop-down alignment */
        text-align: center;
        font-size: $navbar-font-size;
      }
    }
    .nav > li > a {
      @include text-shadow(none);
      padding: 20px 20px
    }
  }
  
  .dropdown-menu {
    text-align: left;
    > li > a {
      white-space: normal;
    }
  }
}
/* Nav Bar Drop Down */
/* Hiding arrow at top of nav bar drop down */
.bootstrapStyles {
  .navbar .nav > li > .dropdown-menu:before,
  .navbar .nav > li > .dropdown-menu:after
  {
    display: none;
  }
  .dropdown-menu {
    @include border-radius(0);
    background-color: $navbar-dropdown-background-color;
    border-width: 0px;
    padding: 0;
    margin: 0;
    /* Uncomment to remove box shadow from drop-downs */
    //@include box-shadow(none);
  }
  .dropdown-menu > li > a:hover,
  .dropdown-submenu:hover > a
  {
    background-color: $navbar-selected-background-color;
    background-image: none;
    color: $navbar-selected-font-color;
  }
  /* Bleeding through to mobile, so wrapping in a media query */
  @media only screen and (min-width: $min-width) {
    .dropdown-menu > li > a {
      color: $navbar-dropdown-font-color;
      font-size: $navbar-dropdown-font-size;
      border-top: 1px solid $navbar-dropdown-separator-color;
      padding: 5px 20px;
      width: 178px; /* Same width as left column */
    }
    .dropdown-menu > li:first-child > a {
      border-top-width: 0px;
    }
  }
}

/* Old Nav Bar */

#navigation {
  color: $heading-font-color;
  @include lato;
  /*a {*/
    /*color: $heading-font-color;*/
  /*}*/
}
#portal-globalnav {
  display: table;
  width: 100%;
  li {
    display: table-cell;
    float: none;
  }
  li a {
    border-top-width: 0;
    line-height: 60px;
    text-align: center;
    display: block;
    font-size: 21px;
  }
}


/* Content Area */
#main {
  @include fixed-width;
  padding: 20px 0 80px 0;
}
#portal-breadcrumbs {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 40px;
}
body.portaltype-homepage #portal-breadcrumbs {
  display: none;
}
h1, h2, h3 {
  @include oswald;
  color: $heading-font-color;
  font-weight: normal;
}
h1 {
  font-size: $h1-font-size;
  border-bottom: 1px dotted $heading-font-color;
  line-height: 40px;
  margin: 20px 0px;
  padding-bottom: 19px; /* To make room for the 1px border at the bottom */
}
h2 {
  font-size: 20px;
  line-height: 40px;
  margin: 20px 0 10px 0;
}
h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 10px 0;
}
p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.documentDescription {
  @include lato;
  color: $description-font-color;
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}
#content ul,
#content ol
{
  margin-bottom: 10px;
}
#content li,
li
{
  line-height: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

/* Portlets */
.portletWrapper {
  margin-bottom: 40px;
}
dl.portlet {
  font-size: 14px;
  margin: 0 0 0px 0;
  
  dt {
    padding: 0 0 9px 0; /* only 9px at bottom to make room for 1px border at bottom */
    background-color: transparent;
    color: $heading-font-color;
    @include oswald;
    font-size: $h1-font-size;
    line-height: 40px;
    border-bottom: 1px dotted $heading-font-color;
    margin-bottom: 20px;
    
    a:link,
    a:visited,
    a:hover {
      color: $heading-font-color;
    }
  }
  
  dd.portletFooter {
    text-align: right;
    font-style: italic;
    
    a {
      @include read-more;
    }
    
    .hiddenStructure {
      display: none; /* Otherwise RSS portlets' MORE button is broken */
    }
  }
}
dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd 
{
  padding: 0;
  line-height: 20px;
}
dl.portletRss {

  dd.portletItem {
    font-weight: bold;
    margin-bottom: 10px;
    a:hover {
      text-decoration: underline;
    }
  }
  .portletItemDetails {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-style: italic;
    color: $light-font-color;
    font-size: 12px;
    font-weight: normal;
  }
}

/* myCNM Portlet */
.portlet-static-mycnm img {
  background-color: $cnmblue;
  padding: 10px;
}
body.portaltype-homepage .portlet-static-mycnm {
  margin-top: 20px;
}

/* Nav Tree Portlet */
dl.portlet ul.navTree {
  @include lato;
  font-size: 18px;
  color: $default-font-color;
  
  li {
    margin-bottom: 0;
  }
  a {
    font-size: 18px;
    color: $default-font-color;
    line-height: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a:hover {
    color: $heading-font-color;
  }
}
/* Just the top level items */
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  line-height: 20px;
  border-top: 1px solid $navitemseparator;
  border-bottom-width: 0;
  padding: 0px 10px;
}
/* All items below top level */
dl.portlet ul.navTreeLevel1 .navTreeItem {
  line-height: 20px;
  padding-left: 15px;
}
dl.portlet ul.navTree .navTreeCurrentItem {
  background-color: transparent;
  border-left: 0em solid #ddd;
  margin-left: -0em;
  margin-right: -0em;
  color: $heading-font-color;
}
dl.portlet {
  li.navTreeCurrentNode,
  li.navTreeItemInPath
  {
    background-color: $lightgray; 
  }
}


/* Steps Portlet */
div.portlet-static-steps {
  color: $steps-font-color;
  background-color: $mediumgray;
  line-height: $step-height;
  
  * {
    vertical-align: middle;
  }

  ul {
    padding: 0px;
  }
  
  li {
    margin: 0;
    padding: 7px 0 7px 10px;
    border-top: 1px solid $white;
  }
  li:first-child {
    border-top-width: 0;
  }
  li:hover {
    background-color: $steps-hover;
  }

  a {
    line-height: $step-height;
    display: block;
    height: $step-height;
    color: $steps-font-color;
    @include lato;
    font-size: 18px;
  }
  
  h3 {
    @include oswald;
    font-size: 31px;
    color: #b4b6b8;
    background-color: $white;
    display: inline-block;
    width: $step-height;
    height: $step-height;
    line-height: $step-height;
    @include border-radius(50%);
    text-align: center;
    margin: -4px 5px 0 0;
    position: relative;
  }
}

/* Calendar Portlet */
.portletCalendar dt {
  font-weight: normal;
}

/* Homepage */
body.portaltype-homepage #main {
  padding-bottom: 0;
  padding-top: 0;
}
#frontpage-news-wrapper {
  background-color: $lightgray;
  padding: 20px 0 40px 0;

  .frontpage-news {
    img {
      /* Fill the viewport for mobile */
      width: 305px;
      height: 150px;
    }
  }
}
.frontpage-news {
  h2 {
    color: $heading-font-color;
    font-size: $h1-font-size;
    
    a {
      color: $heading-font-color;
    }
    .breakingNews {
      background-color: $breaking-red;
      color: $white;
      @include lato;
      font-size: 15px;
      // vertical-align: middle;
      padding: 6px 10px;
      @include border-right-radius(8px);
      text-transform: uppercase;
      margin: 5px 10px 0 0;
      line-height: 17px;
      float: left;
      display: block;
    }
  }
  .readMore {
    text-align: right;
    a {
      @include read-more;
    }
  }
}
#homepage-bottom {
  #steps {
    color: $steps-font-color;
    background-color: $mediumgray;
    
    ul {
      display: table;
      width: 100%;
      text-align: center;
    }
    li {
      display: table-cell;
      position: relative;
      width: 1%;
    }
    li:hover {
      background-color: $steps-hover;
    }
    h3 {
      @include oswald;
      font-size: 50px;
      color: #b4b6b8;
      background-color: $white;
      display: inline-block;
      width: 80px;
      height: 80px;
      line-height: 80px;
      @include border-radius(50%);
      position: relative;
      top: 23px;
    }
    .description,
    .learnMore
    {
      display: block;
      color: $steps-font-color;
    }
    .description {
      @include lato;
      font-size: 22px;
      position: relative;
      top: -97px;
    }
    .learnMore {
      text-transform: lowercase;
      padding-bottom: 10px;
    }
  }
  #popular {
    background-color: $lightgray;
    padding: 20px 0 100px 0;
    
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0 20px;
      display: inline-block;
      background: $cnmyellow;
      @include lato;
      font-size: 25px;
      color: #04192D;
      @include border-right-radius(8px);
    }
    ul {
      padding: 0 20px;
      list-style-type: disc;
    }
    li {
      float: left;
      width: 42%;
      display: list-item;
      margin: 0px 20px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Footer */
#footer-wrapper {
  background-color: $cnmblue;
  color: $footer-font-color;
  a {
    color: $footer-links-color;
  }
  a:hover {
    text-decoration: underline;
  }
  h3 {
    color: $footer-font-color;
    border-bottom: 1px dotted $footer-font-color;
    @include lato;
    font-size: 24px;
    line-height: 40px;
    margin: -10px 0 9px 0;
    a {
      color: $footer-font-color;
    }
    a:hover {
      color: $cnmyellow;
    }
  }
  #social {
    text-align: right;
    position: absolute;
    right: 16px;
    top: -55px;
    color: $cnmblue;
    line-height: 40px;
    li {
      line-height: 40px;
    }
    a {
      color: $cnmblue;
      display: inline-block;
      padding-left: 39px;
      text-indent: 100%;
      overflow: hidden;
      width: 0;
    }
    #facebook a {
      background: transparent url(img/facebook.png) no-repeat left center;
    }
    #twitter a {
      background: transparent url(img/twitter_bird.png) no-repeat left center;
    }
    #flickr a {
      background: transparent url(img/flickr.png) no-repeat left center;
    }
    #youtube a {
      background: transparent url(img/youtube.png) no-repeat left center;
    }
  }
  #flickr-wrapper .tabs {
    display: none;
  }
  #footer {
    @include fixed-width;
    position: relative; /* needed for abolute positioning of #social */
    padding: 20px 0;
    #footerlinks {
      font-size: 14px;
      line-height: 20px;
      li {
        display: block;
      }
    }
  }
  #infophotos {
    margin-top: 20px;
  }
}

#colophon-wrapper {
  background-color: $darkgray;
  color: $footer-font-color;
  a {
    color: $footer-links-color;
  }
  a:hover {
    text-decoration: underline;
  }
  #colophon {
    @include fixed-width;
    padding: 10px 0;
    .footer-about a,
    .footer-mobile-bottom a {
      margin-left: 20px;
    }
  }
}
#colophon-text {
  text-align: right;
  font-size: 14px;
  line-height: 20px;
}

/* Visibility */
@media only screen and (max-width: $max-width) {

//  .showForSmall {
//    display: inherit !important;
//  }
  .showForLarge {
    display: none !important;
  }

}
@media only screen and (min-width: $min-width) {

  .showForSmall {
    display: none !important;
  }
//  .showForLarge {
//    display: inherit !important;
//  }

}