@font-face {
  font-family: "entypo";
  src: url('./fonts/entypo.eot');
  src: url('./fonts/entypo.eot?#iefix') format("embedded-opentype"), url('./fonts/entypo.woff') format("woff"), url('./fonts/entypo.ttf') format("truetype"), url('./fonts/entypo.svg#entypo') format("svg"), url('./fonts/entypo.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Fonts */
/* White */
/* Light blue */
/* Deep blue */
/* Medium blue */
/* Medium gray */
/* line 3, sass/cnm_mobile.scss */
body {
  -webkit-text-size-adjust: 100%;
}

/* Header */
/* line 8, sass/cnm_mobile.scss */
#header-wrapper {
  display: none;
}

/* Navigation Bar */
/* line 13, sass/cnm_mobile.scss */
#navigation {
  width: auto;
  background-color: #004890;
  color: white;
}

/* line 21, sass/cnm_mobile.scss */
#nav-wrapper .bootstrapStyles a.brand {
  display: inline-block;
}
/* line 23, sass/cnm_mobile.scss */
#nav-wrapper .bootstrapStyles a.brand img {
  height: 40px;
}

/* Homepage */
/* line 32, sass/cnm_mobile.scss */
#frontpage-news-wrapper .row .cell {
  display: none;
}
/* line 35, sass/cnm_mobile.scss */
#frontpage-news-wrapper .row .cell:first-child {
  display: block;
  width: 97.75%;
}
/* line 39, sass/cnm_mobile.scss */
#frontpage-news-wrapper .description {
  display: none;
}

/* line 48, sass/cnm_mobile.scss */
#homepage-bottom #steps {
  color: #494a4c;
  background-color: #d0d2d4;
  line-height: 46px;
}
/* line 53, sass/cnm_mobile.scss */
#homepage-bottom #steps * {
  vertical-align: middle;
}
/* line 56, sass/cnm_mobile.scss */
#homepage-bottom #steps ul {
  display: block;
  text-align: left;
  padding: 2px 0px 2px 0px;
}
/* line 61, sass/cnm_mobile.scss */
#homepage-bottom #steps li {
  display: list-item;
  width: auto;
  margin: 0;
  padding: 7px 0 7px 10px;
  border-top: 1px solid white;
}
/* line 68, sass/cnm_mobile.scss */
#homepage-bottom #steps li:first-child {
  border-top-width: 0;
}
/* line 71, sass/cnm_mobile.scss */
#homepage-bottom #steps a {
  line-height: 46px;
  display: block;
  height: 46px;
  color: #494a4c;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
/* line 79, sass/cnm_mobile.scss */
#homepage-bottom #steps h3 {
  position: static;
  top: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 31px;
  color: #b4b6b8;
  background-color: white;
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin: -4px 5px 0 0;
  position: relative;
}
/* line 96, sass/cnm_mobile.scss */
#homepage-bottom #steps .description {
  position: static;
  top: auto;
  display: inline;
}
/* line 101, sass/cnm_mobile.scss */
#homepage-bottom #steps .learnMore {
  display: none;
}

/* Portlets */
/* line 108, sass/cnm_mobile.scss */
.portlet-static-mycnm {
  display: none;
}

/* line 111, sass/cnm_mobile.scss */
.portletRss {
  display: none;
}

/* line 114, sass/cnm_mobile.scss */
body.portaltype-homepage .portletRss {
  display: block;
}

/* Content */
/* line 119, sass/cnm_mobile.scss */
#main {
  width: auto;
}

/* line 122, sass/cnm_mobile.scss */
#portal-breadcrumbs {
  display: none;
}

/* line 125, sass/cnm_mobile.scss */
#popular-cell {
  margin-left: -98.875%;
  width: 97.75%;
}

/* Footer */
/* line 132, sass/cnm_mobile.scss */
#footer-wrapper #footer {
  padding: 0;
  width: auto;
}
/* line 136, sass/cnm_mobile.scss */
#footer-wrapper #footerlinks {
  display: none;
}

/* line 141, sass/cnm_mobile.scss */
#colophon-wrapper {
  background-color: #004890;
}
/* line 144, sass/cnm_mobile.scss */
#colophon-wrapper #colophon {
  width: auto;
}
/* line 147, sass/cnm_mobile.scss */
#colophon-wrapper #blackboard-footer {
  float: right;
  font-size: 14px;
  line-height: 20px;
}

/* line 153, sass/cnm_mobile.scss */
#colophon-text {
  text-align: center;
}
/* line 155, sass/cnm_mobile.scss */
#colophon-text .footer-mobile-bottom {
  text-transform: uppercase;
}

/* Helpers */
/* line 161, sass/cnm_mobile.scss */
.fullWidthOnMobile {
  margin-left: -98.875% !important;
  width: 97.75% !important;
  clear: both;
}
