@charset "UTF-8";
/* line 35, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-mycnm a:before {
  content: "🔒";
}

/* line 51, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-distance-learning a:before {
  content: "✎";
}

/* line 56, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-chat-now a:before {
  content: "";
}

@font-face {
  font-family: "entypo";
  src: url('./fonts/entypo.eot');
  src: url('./fonts/entypo.eot?#iefix') format("embedded-opentype"), url('./fonts/entypo.woff') format("woff"), url('./fonts/entypo.ttf') format("truetype"), url('./fonts/entypo.svg#entypo') format("svg"), url('./fonts/entypo.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Colors */
/* Hover Effects */
/* Font Colors */
/* White */
/* Light blue */
/* Deep blue */
/* Medium blue */
/* Medium gray */
/* Responsive breakpoints */
/* line 3, sass/cnmresponsive.scss */
body {
  color: #2d2d2f;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 9, sass/cnmresponsive.scss */
a {
  color: #1b60a4;
}

/* line 12, sass/cnmresponsive.scss */
a:visited {
  color: #8b9bab;
}

/* line 16, sass/cnmresponsive.scss */
#header {
  width: 60em;
  margin: 0 auto;
  padding: 20px 0;
}

/* line 21, sass/cnmresponsive.scss */
#navigation {
  width: 60em;
  margin: 0 auto;
}

/* line 25, sass/cnmresponsive.scss */
#header-wrapper {
  background: #004890 url(img/bg.jpg) no-repeat right top;
  color: white;
}

/* line 29, sass/cnmresponsive.scss */
#header-wrapper a {
  color: white;
}

/* line 33, sass/cnmresponsive.scss */
#portal-siteactions {
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 38, sass/cnmresponsive.scss */
#portal-siteactions li {
  margin-left: 20px;
}
/* line 41, sass/cnmresponsive.scss */
#portal-siteactions a {
  line-height: 20px;
}
/* line 32, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets/base/_font-mixins.scss */
#portal-siteactions a:before {
  font-family: "entypo";
  font-style: normal;
  font-size: 1em;
  margin-right: 0.8em;
  text-align: center;
  display: inline-block;
  width: 1em;
}
/* line 45, sass/cnmresponsive.scss */
#portal-siteactions a:before {
  font-size: 1.5em;
  margin-right: 0.2em;
}

/* line 59, sass/cnmresponsive.scss */
#portal-searchbox {
  text-align: right;
}

/*Nav Bar*/
/* line 64, sass/cnmresponsive.scss */
#nav-wrapper {
  background-color: #fbd10b;
}
/* line 68, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles a.brand {
  display: none;
}
/* line 70, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles a.brand img {
  height: 40px;
}
/* line 74, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles .navbar {
  margin-bottom: 0;
}
/* line 77, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles .navbar-inner {
  background-color: transparent;
  background-image: none;
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
/* line 85, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles ul.nav {
  margin: 0;
}
/* line 89, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles ul.nav > li {
  /* float: none; */
  /* Breaks drop-down alignment */
  text-align: center;
  font-size: 21px;
}
/* line 96, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles .nav > li > a {
  text-shadow: none;
  padding: 20px 50px;
}
/* line 102, sass/cnmresponsive.scss */
#nav-wrapper .dropdown-menu {
  text-align: left;
}
/* line 104, sass/cnmresponsive.scss */
#nav-wrapper .dropdown-menu > li > a {
  white-space: normal;
}

/* Nav Bar Drop Down */
/* Hiding arrow at top of nav bar drop down */
/* line 111, sass/cnmresponsive.scss */
.bootstrapStyles {
  /* Bleeding through to mobile, so wrapping in a media query */
}
/* line 114, sass/cnmresponsive.scss */
.bootstrapStyles .navbar .nav > li > .dropdown-menu:before,
.bootstrapStyles .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
/* line 117, sass/cnmresponsive.scss */
.bootstrapStyles .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #fae790;
  border-width: 0px;
  padding: 0;
  margin: 0;
  /* Uncomment to remove box shadow from drop-downs */
}
/* line 128, sass/cnmresponsive.scss */
.bootstrapStyles .dropdown-menu > li > a:hover,
.bootstrapStyles .dropdown-submenu:hover > a {
  background-color: #0f0c5d;
  background-image: none;
  color: #fbf0c0;
}
@media only screen and (min-width: 768px) {
  /* line 135, sass/cnmresponsive.scss */
  .bootstrapStyles .dropdown-menu > li > a {
    color: #04192d;
    font-size: 18px;
    border-top: 1px solid #a09b85;
    padding: 10px 20px;
    width: 218px;
    /* Same width as left column */
  }
  /* line 142, sass/cnmresponsive.scss */
  .bootstrapStyles .dropdown-menu > li:first-child > a {
    border-top-width: 0px;
  }
}

/* Old Nav Bar */
/* line 150, sass/cnmresponsive.scss */
#navigation {
  color: #0f0c5d;
  font-family: 'Lato', sans-serif;
  /*a {*/
  /*color: $heading-font-color;*/
  /*}*/
}

/* line 157, sass/cnmresponsive.scss */
#portal-globalnav {
  display: table;
  width: 100%;
}
/* line 160, sass/cnmresponsive.scss */
#portal-globalnav li {
  display: table-cell;
  float: none;
}
/* line 164, sass/cnmresponsive.scss */
#portal-globalnav li a {
  border-top-width: 0;
  line-height: 60px;
  text-align: center;
  display: block;
  font-size: 21px;
}

/* Content Area */
/* line 175, sass/cnmresponsive.scss */
#main {
  width: 60em;
  margin: 0 auto;
  padding: 20px 0 80px 0;
}

/* line 179, sass/cnmresponsive.scss */
#portal-breadcrumbs {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 40px;
}

/* line 184, sass/cnmresponsive.scss */
body.portaltype-homepage #portal-breadcrumbs {
  display: none;
}

/* line 187, sass/cnmresponsive.scss */
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: #0f0c5d;
  font-weight: normal;
}

/* line 192, sass/cnmresponsive.scss */
h1 {
  font-size: 28px;
  border-bottom: 1px dotted #0f0c5d;
  line-height: 40px;
  margin: 20px 0px;
  padding-bottom: 19px;
  /* To make room for the 1px border at the bottom */
}

/* line 199, sass/cnmresponsive.scss */
h2 {
  font-size: 20px;
  line-height: 40px;
  margin: 20px 0 10px 0;
}

/* line 204, sass/cnmresponsive.scss */
h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 10px 0;
}

/* line 209, sass/cnmresponsive.scss */
p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

/* line 214, sass/cnmresponsive.scss */
.documentDescription {
  font-family: 'Lato', sans-serif;
  color: #668eb6;
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* line 224, sass/cnmresponsive.scss */
#content ul,
#content ol {
  margin-bottom: 10px;
}

/* line 229, sass/cnmresponsive.scss */
#content li,
li {
  line-height: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

/* Portlets */
/* line 236, sass/cnmresponsive.scss */
.portletWrapper {
  margin-bottom: 40px;
}

/* line 239, sass/cnmresponsive.scss */
dl.portlet {
  font-size: 14px;
  margin: 0 0 0px 0;
}
/* line 243, sass/cnmresponsive.scss */
dl.portlet dt {
  padding: 0 0 9px 0;
  /* only 9px at bottom to make room for 1px border at bottom */
  background-color: transparent;
  color: #0f0c5d;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  line-height: 40px;
  border-bottom: 1px dotted #0f0c5d;
  margin-bottom: 20px;
}
/* line 255, sass/cnmresponsive.scss */
dl.portlet dt a:link,
dl.portlet dt a:visited,
dl.portlet dt a:hover {
  color: #0f0c5d;
}
/* line 260, sass/cnmresponsive.scss */
dl.portlet dd.portletFooter {
  text-align: right;
  font-style: italic;
}
/* line 264, sass/cnmresponsive.scss */
dl.portlet dd.portletFooter a {
  background-color: #004890;
  color: white;
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  padding: 0 20px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  line-height: 25px;
  display: inline-block;
}
/* line 268, sass/cnmresponsive.scss */
dl.portlet dd.portletFooter .hiddenStructure {
  display: none;
  /* Otherwise RSS portlets' MORE button is broken */
}

/* line 276, sass/cnmresponsive.scss */
dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
  padding: 0;
  line-height: 20px;
}

/* line 282, sass/cnmresponsive.scss */
dl.portletRss dd.portletItem {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 286, sass/cnmresponsive.scss */
dl.portletRss .portletItemDetails {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-style: italic;
  color: #3c3e3f;
  font-size: 12px;
  font-weight: normal;
}

/* myCNM Portlet */
/* line 298, sass/cnmresponsive.scss */
.portlet-static-mycnm img {
  background-color: #004890;
  padding: 10px;
}

/* line 302, sass/cnmresponsive.scss */
body.portaltype-homepage .portlet-static-mycnm {
  margin-top: 20px;
}

/* Nav Tree Portlet */
/* line 307, sass/cnmresponsive.scss */
dl.portlet ul.navTree {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #2d2d2f;
}
/* line 312, sass/cnmresponsive.scss */
dl.portlet ul.navTree li {
  margin-bottom: 0;
}
/* line 315, sass/cnmresponsive.scss */
dl.portlet ul.navTree a {
  font-size: 18px;
  color: #2d2d2f;
  line-height: 20px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 322, sass/cnmresponsive.scss */
dl.portlet ul.navTree a:hover {
  color: #0f0c5d;
}

/* Just the top level items */
/* line 327, sass/cnmresponsive.scss */
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  line-height: 20px;
  border-top: 1px solid #ced8e1;
  border-bottom-width: 0;
  padding: 0px 10px;
}

/* All items below top level */
/* line 334, sass/cnmresponsive.scss */
dl.portlet ul.navTreeLevel1 .navTreeItem {
  line-height: 20px;
  padding-left: 15px;
}

/* line 338, sass/cnmresponsive.scss */
dl.portlet ul.navTree .navTreeCurrentItem {
  background-color: transparent;
  border-left: 0em solid #ddd;
  margin-left: -0em;
  margin-right: -0em;
  color: #0f0c5d;
}

/* line 348, sass/cnmresponsive.scss */
dl.portlet li.navTreeCurrentNode,
dl.portlet li.navTreeItemInPath {
  background-color: #f5f7f9;
}

/* Steps Portlet */
/* line 355, sass/cnmresponsive.scss */
div.portlet-static-steps {
  color: #494a4c;
  background-color: #d0d2d4;
  line-height: 46px;
}
/* line 360, sass/cnmresponsive.scss */
div.portlet-static-steps * {
  vertical-align: middle;
}
/* line 364, sass/cnmresponsive.scss */
div.portlet-static-steps ul {
  padding: 0px;
}
/* line 368, sass/cnmresponsive.scss */
div.portlet-static-steps li {
  margin: 0;
  padding: 7px 0 7px 10px;
  border-top: 1px solid white;
}
/* line 373, sass/cnmresponsive.scss */
div.portlet-static-steps li:first-child {
  border-top-width: 0;
}
/* line 376, sass/cnmresponsive.scss */
div.portlet-static-steps li:hover {
  background-color: #e7e9ea;
}
/* line 380, sass/cnmresponsive.scss */
div.portlet-static-steps a {
  line-height: 46px;
  display: block;
  height: 46px;
  color: #494a4c;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
/* line 389, sass/cnmresponsive.scss */
div.portlet-static-steps h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 31px;
  color: #b4b6b8;
  background-color: white;
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin: -4px 5px 0 0;
  position: relative;
}

/* Calendar Portlet */
/* line 406, sass/cnmresponsive.scss */
.portletCalendar dt {
  font-weight: normal;
}

/* Homepage */
/* line 411, sass/cnmresponsive.scss */
body.portaltype-homepage #main {
  padding-bottom: 0;
  padding-top: 0;
}

/* line 415, sass/cnmresponsive.scss */
#frontpage-news-wrapper {
  background-color: #f5f7f9;
  padding: 20px 0 40px 0;
}

/* line 420, sass/cnmresponsive.scss */
.frontpage-news h2 {
  color: #0f0c5d;
  font-size: 28px;
}
/* line 424, sass/cnmresponsive.scss */
.frontpage-news h2 a {
  color: #0f0c5d;
}
/* line 428, sass/cnmresponsive.scss */
.frontpage-news .readMore {
  text-align: right;
}
/* line 430, sass/cnmresponsive.scss */
.frontpage-news .readMore a {
  background-color: #004890;
  color: white;
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  padding: 0 20px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  line-height: 25px;
  display: inline-block;
}

/* line 436, sass/cnmresponsive.scss */
#homepage-bottom #steps {
  color: #494a4c;
  background-color: #d0d2d4;
}
/* line 440, sass/cnmresponsive.scss */
#homepage-bottom #steps ul {
  display: table;
  width: 100%;
  text-align: center;
}
/* line 445, sass/cnmresponsive.scss */
#homepage-bottom #steps li {
  display: table-cell;
  position: relative;
  width: 1%;
}
/* line 450, sass/cnmresponsive.scss */
#homepage-bottom #steps li:hover {
  background-color: #e7e9ea;
}
/* line 453, sass/cnmresponsive.scss */
#homepage-bottom #steps h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: #b4b6b8;
  background-color: white;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top: 23px;
}
/* line 468, sass/cnmresponsive.scss */
#homepage-bottom #steps .description,
#homepage-bottom #steps .learnMore {
  display: block;
  color: #494a4c;
}
/* line 472, sass/cnmresponsive.scss */
#homepage-bottom #steps .description {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  position: relative;
  top: -97px;
}
/* line 478, sass/cnmresponsive.scss */
#homepage-bottom #steps .learnMore {
  text-transform: lowercase;
  padding-bottom: 10px;
}
/* line 483, sass/cnmresponsive.scss */
#homepage-bottom #popular {
  background-color: #f5f7f9;
  padding: 20px 0 100px 0;
}
/* line 487, sass/cnmresponsive.scss */
#homepage-bottom #popular h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  display: inline-block;
  background: #fbd10b;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #04192D;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 498, sass/cnmresponsive.scss */
#homepage-bottom #popular ul {
  padding: 0 20px;
  list-style-type: disc;
}
/* line 502, sass/cnmresponsive.scss */
#homepage-bottom #popular li {
  float: left;
  width: 42%;
  display: list-item;
  margin: 0px 20px;
}

/* Footer */
/* line 512, sass/cnmresponsive.scss */
#footer-wrapper {
  background-color: #004890;
  color: #aebfd0;
}
/* line 515, sass/cnmresponsive.scss */
#footer-wrapper a {
  color: white;
}
/* line 518, sass/cnmresponsive.scss */
#footer-wrapper h3 {
  color: #aebfd0;
  border-bottom: 1px dotted #aebfd0;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 40px;
  margin: -10px 0 9px 0;
}
/* line 525, sass/cnmresponsive.scss */
#footer-wrapper h3 a {
  color: #aebfd0;
}
/* line 528, sass/cnmresponsive.scss */
#footer-wrapper h3 a:hover {
  color: #fbd10b;
}
/* line 532, sass/cnmresponsive.scss */
#footer-wrapper #social {
  text-align: right;
  position: absolute;
  right: 16px;
  top: -55px;
  color: #004890;
  line-height: 40px;
}
/* line 539, sass/cnmresponsive.scss */
#footer-wrapper #social li {
  line-height: 40px;
}
/* line 542, sass/cnmresponsive.scss */
#footer-wrapper #social a {
  color: #004890;
  display: inline-block;
  padding-left: 39px;
  text-indent: 100%;
  overflow: hidden;
  width: 0;
}
/* line 550, sass/cnmresponsive.scss */
#footer-wrapper #social #facebook a {
  background: transparent url(img/facebook.png) no-repeat left center;
}
/* line 553, sass/cnmresponsive.scss */
#footer-wrapper #social #twitter a {
  background: transparent url(img/twitter_bird.png) no-repeat left center;
}
/* line 556, sass/cnmresponsive.scss */
#footer-wrapper #social #flickr a {
  background: transparent url(img/flickr.png) no-repeat left center;
}
/* line 559, sass/cnmresponsive.scss */
#footer-wrapper #social #youtube a {
  background: transparent url(img/youtube.png) no-repeat left center;
}
/* line 563, sass/cnmresponsive.scss */
#footer-wrapper #flickr-wrapper .tabs {
  display: none;
}
/* line 566, sass/cnmresponsive.scss */
#footer-wrapper #footer {
  width: 60em;
  margin: 0 auto;
  position: relative;
  /* needed for abolute positioning of #social */
  padding: 20px 0;
}
/* line 570, sass/cnmresponsive.scss */
#footer-wrapper #footer #footerlinks {
  font-size: 14px;
  line-height: 20px;
}
/* line 573, sass/cnmresponsive.scss */
#footer-wrapper #footer #footerlinks li {
  display: block;
}
/* line 578, sass/cnmresponsive.scss */
#footer-wrapper #infophotos {
  margin-top: 20px;
}

/* line 583, sass/cnmresponsive.scss */
#colophon-wrapper {
  background-color: #3c3d3e;
  color: #aebfd0;
}
/* line 586, sass/cnmresponsive.scss */
#colophon-wrapper a {
  color: white;
}
/* line 589, sass/cnmresponsive.scss */
#colophon-wrapper #colophon {
  width: 60em;
  margin: 0 auto;
  padding: 10px 0;
}
/* line 593, sass/cnmresponsive.scss */
#colophon-wrapper #colophon .footer-about a,
#colophon-wrapper #colophon .footer-mobile-bottom a {
  margin-left: 20px;
}

/* line 598, sass/cnmresponsive.scss */
#colophon-text {
  text-align: right;
  font-size: 14px;
  line-height: 20px;
}

/* Visibility */
@media only screen and (max-width: 767px) {
  /* line 610, sass/cnmresponsive.scss */
  .showForLarge {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  /* line 617, sass/cnmresponsive.scss */
  .showForSmall {
    display: none !important;
  }
}
