@charset "UTF-8";
/* line 35, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-mycnm a:before {
  content: "🔒";
}

/* line 51, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-distance-learning a:before {
  content: "✎";
}

/* line 56, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-chat-now a:before {
  content: "";
}

@font-face {
  font-family: "entypo";
  src: url('./fonts/entypo.eot');
  src: url('./fonts/entypo.eot?#iefix') format("embedded-opentype"), url('./fonts/entypo.woff') format("woff"), url('./fonts/entypo.ttf') format("truetype"), url('./fonts/entypo.svg#entypo') format("svg"), url('./fonts/entypo.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* line 10, sass/cnmresponsive.scss */
#header,
#navigation {
  width: 60em;
  margin: 0 auto;
}

/* line 14, sass/cnmresponsive.scss */
#header-wrapper {
  background: #004890;
  color: white;
}

/* line 18, sass/cnmresponsive.scss */
#header-wrapper a {
  color: white;
}

/* line 22, sass/cnmresponsive.scss */
#portal-siteactions {
  text-align: right;
}
/* line 32, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets/base/_font-mixins.scss */
#portal-siteactions a:before {
  font-family: "entypo";
  font-style: normal;
  font-size: 1em;
  margin-right: 0.8em;
  text-align: center;
  display: inline-block;
  width: 1em;
}

/* line 37, sass/cnmresponsive.scss */
#portal-searchbox {
  text-align: right;
}

/*Nav Bar*/
/* line 42, sass/cnmresponsive.scss */
#nav-wrapper {
  background-color: #fbd10b;
}
