@charset "UTF-8";
/* line 35, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-mycnm a:before {
  content: "🔒";
}

/* line 51, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-distance-learning a:before {
  content: "✎";
}

/* line 56, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-chat-now a:before {
  content: "";
}

/* line 149, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-espanol a:before {
  content: "𝌍";
}

@font-face {
  font-family: "entypo";
  src: url('fonts/entypo.eot?1422396531');
  src: url('fonts/entypo.eot?&1422396531#iefix') format("embedded-opentype"), url('fonts/entypo.woff?1422396531') format("woff"), url('fonts/entypo.ttf?1422396531') format("truetype"), url('fonts/entypo.svg?1422396531#entypo') format("svg"), url('fonts/entypo.otf?1370379746') format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Hover Effects */
/* Font Colors */
/* White */
/* Light blue */
/* Deep blue */
/* Medium blue */
/* Medium gray */
/* Responsive breakpoints */
/* line 35, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-mycnm a:before {
  content: "🔒";
}

/* line 51, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-distance-learning a:before {
  content: "✎";
}

/* line 56, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-chat-now a:before {
  content: "";
}

/* line 149, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-espanol a:before {
  content: "𝌍";
}

@font-face {
  font-family: "entypo";
  src: url('fonts/entypo.eot?1422396531');
  src: url('fonts/entypo.eot?&1422396531#iefix') format("embedded-opentype"), url('fonts/entypo.woff?1422396531') format("woff"), url('fonts/entypo.ttf?1422396531') format("truetype"), url('fonts/entypo.svg?1422396531#entypo') format("svg"), url('fonts/entypo.otf?1370379746') format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Hover Effects */
/* Font Colors */
/* White */
/* Light blue */
/* Deep blue */
/* Medium blue */
/* Medium gray */
/* Responsive breakpoints */
/* line 3, sass/_tiny_customs.scss */
h4 {
  font-size: 1.125em;
}

/* line 19, sass/_tiny_customs.scss */
.rightcolumn,
.pullquote {
  float: right;
  clear: right;
  width: 200px;
  color: #76797C;
  font-weight: normal;
  border-left: 0px solid #76797C;
  padding: 10px;
  margin: 30px 0px 30px 15px;
}

/* line 26, sass/_tiny_customs.scss */
.highlightbox {
  background-color: #F5F7F9;
  padding: 15px;
  margin: 0.75em 0;
}

/* line 32, sass/_tiny_customs.scss */
.rightcolumn-highlight {
  float: right;
  clear: right;
  width: 200px;
  color: #76797C;
  font-weight: normal;
  border-left: 0px solid #76797C;
  background-color: #F5F7F9;
  padding: 10px;
  margin: 30px 0px 30px 30px;
}

/* line 39, sass/_tiny_customs.scss */
.agate {
  font-size: .75em;
}

/* line 42, sass/_tiny_customs.scss */
.pullquoteOriginal {
  background-color: White;
  border-left: 4px solid #8CACBB;
  clear: right;
  color: #CC9933;
  float: right;
  font-weight: bold;
  margin: 0 0 1em 1em;
  padding: 0 1em;
  width: 35%;
}

/* line 54, sass/_tiny_customs.scss */
ul.no_decoration {
  list-style: none;
}

/* line 63, sass/_tiny_customs.scss */
div.two_column {
  float: left;
  padding: 0 5px;
  width: 45%;
}

/* line 68, sass/_tiny_customs.scss */
div.three_column {
  float: left;
  padding: 0 5px;
  width: 30%;
}

/* line 73, sass/_tiny_customs.scss */
table.listing th, .stx table th {
  background-color: #F5F7F9;
  border-top-color: #999;
  border-bottom-color: #999;
  border-right-color: #999;
  border-left-color: #999;
  text-transform: none;
}

/* line 81, sass/_tiny_customs.scss */
table.listing {
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #999;
  border-bottom-color: #999;
}

/* line 87, sass/_tiny_customs.scss */
table.listing td {
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #999;
  border-bottom-color: #999;
}

/* line 93, sass/_tiny_customs.scss */
img.no-frame {
  border: none !important;
}

/* line 4, sass/cnmresponsive.scss */
body {
  color: #2d2d2f;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 10, sass/cnmresponsive.scss */
a {
  color: #1b60a4;
}

/* line 13, sass/cnmresponsive.scss */
a:visited {
  color: #8b9bab;
}

/* line 16, sass/cnmresponsive.scss */
#emergency-wrapper {
  background-color: #EE5646;
}
/* line 18, sass/cnmresponsive.scss */
#emergency-wrapper #emergency-width {
  width: 60em;
  margin: 0 auto;
}
/* line 21, sass/cnmresponsive.scss */
#emergency-wrapper h1 {
  color: #FFFFFF;
  border-color: #B94A48;
  border-width: 0;
  margin: 10px 0px;
  padding-bottom: 0px;
}
/* line 28, sass/cnmresponsive.scss */
#emergency-wrapper li {
  display: block;
  margin-bottom: 10px;
}
/* line 31, sass/cnmresponsive.scss */
#emergency-wrapper li a {
  display: block;
  color: #FFFFFF;
  text-decoration: underline;
}

/* line 38, sass/cnmresponsive.scss */
#header {
  width: 60em;
  margin: 0 auto;
  padding-top: 20px;
  /*background-color: $dark-blue;*/
}

/* line 43, sass/cnmresponsive.scss */
#navigation {
  width: 60em;
  margin: 0 auto;
}

/* line 48, sass/cnmresponsive.scss */
#header-wrapper {
  background: #003A70 url(/++theme++cnm.responsive/img/bg-mastehead-arrows.png) no-repeat right bottom;
  color: #FFFFFF;
}

/* line 52, sass/cnmresponsive.scss */
#header-wrapper a {
  color: #FFFFFF;
}

/* line 56, sass/cnmresponsive.scss */
#logo {
  margin-top: -62px;
  height: 225px;
  overflow: hidden;
}
/* line 60, sass/cnmresponsive.scss */
#logo img {
  width: 303px;
  height: auto;
}

/* line 66, sass/cnmresponsive.scss */
dl.actionMenu {
  background-color: #E3E3E3;
}

/* line 70, sass/cnmresponsive.scss */
#portal-siteactions {
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 75, sass/cnmresponsive.scss */
#portal-siteactions li {
  margin-left: 20px;
}
/* line 78, sass/cnmresponsive.scss */
#portal-siteactions a {
  line-height: 20px;
}
/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_font-mixins.scss */
#portal-siteactions a:before {
  font-family: "entypo";
  font-style: normal;
  font-size: 1em;
  margin-right: 0.8em;
  text-align: center;
  display: inline-block;
  width: 1em;
}
/* line 82, sass/cnmresponsive.scss */
#portal-siteactions a:before {
  font-size: 1.5em;
  margin-right: 0.2em;
}

/* Search */
/* line 102, sass/cnmresponsive.scss */
#portal-searchbox {
  float: right;
  margin: 1% 0 0 0;
  width: 225px;
  padding: 0;
  background: #fff;
  border: 1px solid #003A70;
}
/* line 109, sass/cnmresponsive.scss */
#portal-searchbox input[name="q"], #portal-searchbox #searchGadget {
  padding: 1.2% 0  1.1% 0;
  margin-right: 0.6%;
  text-indent: 2%;
  width: 85%;
  font-size: 1.1em;
  background: transparent;
  border: none;
  color: #7fa3c7;
  font-style: italic;
}
/* line 120, sass/cnmresponsive.scss */
#portal-searchbox form, #portal-searchbox form .LSBox {
  font-size: 100%;
}
/* line 123, sass/cnmresponsive.scss */
#portal-searchbox .searchButton {
  font-size: 0.8em;
  width: 10%;
  padding: 1.899% 0  1.2% 0;
  text-align: center;
  text-indent: -1000em;
  background: transparent url(img/search-icon.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 134, sass/cnmresponsive.scss */
#LSResult {
  z-index: 9999;
  margin-top: 0.5%;
}

/*Nav Bar*/
/* line 137, sass/cnmresponsive.scss */
#nav-wrapper {
  background-color: #41b6e6;
  border-top: solid 5px #f6be00;
}
/* line 141, sass/cnmresponsive.scss */
#nav-wrapper #navigation {
  background-color: #41b6e6;
  color: #003A70;
  font-family: 'Lato', sans-serif;
}
/* line 148, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles a.brand {
  display: none;
}
/* line 150, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles a.brand img {
  height: 40px;
}
/* line 154, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles .navbar {
  margin-bottom: 0;
}
/* line 157, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles .navbar-inner {
  background-color: transparent;
  background-image: none;
  border-width: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
/* line 165, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles ul.nav {
  margin: 0;
}
/* line 169, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles ul.nav > li {
  /* float: none; */
  /* Breaks drop-down alignment */
  text-align: center;
  font-size: 15px;
}
/* line 176, sass/cnmresponsive.scss */
#nav-wrapper .bootstrapStyles .nav > li > a {
  text-shadow: none;
  padding: 20px 20px;
}
/* line 182, sass/cnmresponsive.scss */
#nav-wrapper .dropdown-menu {
  text-align: left;
}
/* line 184, sass/cnmresponsive.scss */
#nav-wrapper .dropdown-menu > li > a {
  white-space: normal;
}

/* Nav Bar Drop Down */
/* Hiding arrow at top of nav bar drop down */
/* line 191, sass/cnmresponsive.scss */
.bootstrapStyles {
  /* Bleeding through to mobile, so wrapping in a media query */
}
/* line 192, sass/cnmresponsive.scss */
.bootstrapStyles .navbar .nav > li > .dropdown-menu:before,
.bootstrapStyles .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
/* line 197, sass/cnmresponsive.scss */
.bootstrapStyles .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fae790;
  border-width: 0px;
  padding: 0;
  margin: 0;
  /* Uncomment to remove box shadow from drop-downs */
}
/* line 206, sass/cnmresponsive.scss */
.bootstrapStyles .dropdown-menu > li > a:hover,
.bootstrapStyles .dropdown-submenu:hover > a {
  background-color: #0f0c5d;
  background-image: none;
  color: #FBF0C0;
}
@media only screen and (min-width: 768px) {
  /* line 215, sass/cnmresponsive.scss */
  .bootstrapStyles .dropdown-menu > li > a {
    color: #04192d;
    font-size: 12px;
    border-top: 1px solid #2796c4;
    padding: 5px 20px;
    width: 178px;
    /* Same width as left column */
  }
  /* line 222, sass/cnmresponsive.scss */
  .bootstrapStyles .dropdown-menu > li:first-child > a {
    border-top-width: 0px;
  }
}

/* Home icon for navigation */
/* line 228, sass/cnmresponsive.scss */
ul.nav > li:first-child a {
  text-indent: -117px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 35px;
  padding: 20px 1px !important;
  height: 20px;
}

/* line 236, sass/cnmresponsive.scss */
ul.nav > li:first-child a:after {
  font-family: "entypo";
  font-style: normal;
  padding-left: 25px;
  content: "⌂";
}

/* Old Nav Bar */
/* line 245, sass/cnmresponsive.scss */
#navigation {
  color: #0f0c5d;
  font-family: 'Lato', sans-serif;
}

/* line 249, sass/cnmresponsive.scss */
#portal-globalnav {
  display: table;
  width: 100%;
}
/* line 252, sass/cnmresponsive.scss */
#portal-globalnav li {
  display: table-cell;
  float: none;
}
/* line 256, sass/cnmresponsive.scss */
#portal-globalnav li a {
  border-top-width: 0;
  line-height: 60px;
  text-align: center;
  display: block;
  font-size: 21px;
}

/* Content Area */
/* line 267, sass/cnmresponsive.scss */
#main {
  width: 60em;
  margin: 0 auto;
  padding: 20px 0 80px 0;
}

/* line 271, sass/cnmresponsive.scss */
#portal-breadcrumbs {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 40px;
}

/* line 276, sass/cnmresponsive.scss */
body.portaltype-homepage #portal-breadcrumbs {
  display: none;
}

/* line 279, sass/cnmresponsive.scss */
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: #003A70;
  font-weight: normal;
}

/* line 284, sass/cnmresponsive.scss */
h1 {
  font-size: 28px;
  border-bottom: 1px dotted #0f0c5d;
  line-height: 40px;
  margin: 20px 0px;
  padding-bottom: 19px;
  /* To make room for the 1px border at the bottom */
}

/* line 291, sass/cnmresponsive.scss */
h2 {
  font-size: 20px;
  line-height: 40px;
  margin: 20px 0 10px 0;
}

/* line 296, sass/cnmresponsive.scss */
h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 10px 0;
}

/* line 301, sass/cnmresponsive.scss */
p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

/* line 306, sass/cnmresponsive.scss */
.documentDescription {
  font-family: 'Lato', sans-serif;
  color: #41b6e6;
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* line 314, sass/cnmresponsive.scss */
#content ul,
#content ol {
  margin-bottom: 10px;
}

/* line 319, sass/cnmresponsive.scss */
#content li,
li {
  line-height: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

/* Portlets */
/* line 328, sass/cnmresponsive.scss */
.portletWrapper {
  margin-bottom: 40px;
}

/* line 331, sass/cnmresponsive.scss */
dl.portlet {
  font-size: 14px;
  margin: 0 0 0px 0;
}
/* line 335, sass/cnmresponsive.scss */
dl.portlet dt {
  padding: 0 0 9px 0;
  /* only 9px at bottom to make room for 1px border at bottom */
  background-color: transparent;
  color: #51534A;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  line-height: 40px;
  border-bottom: 1px dotted #0f0c5d;
  margin-bottom: 20px;
}
/* line 345, sass/cnmresponsive.scss */
dl.portlet dt a:link,
dl.portlet dt a:visited,
dl.portlet dt a:hover {
  color: #0f0c5d;
}
/* line 352, sass/cnmresponsive.scss */
dl.portlet dd.portletFooter {
  text-align: right;
  font-style: italic;
}
/* line 356, sass/cnmresponsive.scss */
dl.portlet dd.portletFooter a {
  background-color: #003A70;
  color: #FFFFFF;
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  padding: 0 20px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  line-height: 25px;
  display: inline-block;
}
/* line 360, sass/cnmresponsive.scss */
dl.portlet dd.portletFooter .hiddenStructure {
  display: none;
  /* Otherwise RSS portlets' MORE button is broken */
}

/* line 365, sass/cnmresponsive.scss */
dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
  padding: 0;
  line-height: 20px;
}

/* line 374, sass/cnmresponsive.scss */
dl.portletRss dd.portletItem {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 377, sass/cnmresponsive.scss */
dl.portletRss dd.portletItem a:hover {
  text-decoration: underline;
}
/* line 381, sass/cnmresponsive.scss */
dl.portletRss .portletItemDetails {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-style: italic;
  color: #3c3e3f;
  font-size: 12px;
  font-weight: normal;
}

/* myCNM Portlet */
/* line 393, sass/cnmresponsive.scss */
.portlet-static-mycnm img {
  background-color: #003A70;
  padding: 10px;
}

/* line 397, sass/cnmresponsive.scss */
body.portaltype-homepage .portlet-static-mycnm {
  margin-top: 20px;
}

/* Nav Tree Portlet */
/* line 402, sass/cnmresponsive.scss */
dl.portlet ul.navTree {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #2d2d2f;
}
/* line 407, sass/cnmresponsive.scss */
dl.portlet ul.navTree li {
  margin-bottom: 0;
}
/* line 410, sass/cnmresponsive.scss */
dl.portlet ul.navTree a {
  font-size: 18px;
  color: #2d2d2f;
  line-height: 20px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 417, sass/cnmresponsive.scss */
dl.portlet ul.navTree a:hover {
  color: #0f0c5d;
}

/* Just the top level items */
/* line 422, sass/cnmresponsive.scss */
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  line-height: 20px;
  border-top: 1px solid #ced8e1;
  border-bottom-width: 0;
  padding: 0px 10px;
}

/* All items below top level */
/* line 429, sass/cnmresponsive.scss */
dl.portlet ul.navTreeLevel1 .navTreeItem {
  line-height: 20px;
  padding-left: 15px;
}

/* line 433, sass/cnmresponsive.scss */
dl.portlet ul.navTree .navTreeCurrentItem {
  background-color: transparent;
  border-left: 0em solid #ddd;
  margin-left: -0em;
  margin-right: -0em;
  color: #0f0c5d;
}

/* line 441, sass/cnmresponsive.scss */
dl.portlet li.navTreeCurrentNode,
dl.portlet li.navTreeItemInPath {
  background-color: #F5F7F9;
}

/* Steps Portlet */
/* line 450, sass/cnmresponsive.scss */
div.portlet-static-steps {
  color: #494a4c;
  background-color: #D0D2D4;
  line-height: 46px;
}
/* line 455, sass/cnmresponsive.scss */
div.portlet-static-steps * {
  vertical-align: middle;
}
/* line 459, sass/cnmresponsive.scss */
div.portlet-static-steps ul {
  padding: 0px;
}
/* line 463, sass/cnmresponsive.scss */
div.portlet-static-steps li {
  margin: 0;
  padding: 7px 0 7px 10px;
  border-top: 1px solid #FFFFFF;
}
/* line 468, sass/cnmresponsive.scss */
div.portlet-static-steps li:first-child {
  border-top-width: 0;
}
/* line 471, sass/cnmresponsive.scss */
div.portlet-static-steps li:hover {
  background-color: #e7e9ea;
}
/* line 475, sass/cnmresponsive.scss */
div.portlet-static-steps a {
  line-height: 46px;
  display: block;
  height: 46px;
  color: #494a4c;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
/* line 484, sass/cnmresponsive.scss */
div.portlet-static-steps h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 31px;
  color: #b4b6b8;
  background-color: #FFFFFF;
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin: -4px 5px 0 0;
  position: relative;
}

/* Calendar Portlet */
/* line 501, sass/cnmresponsive.scss */
.portletCalendar dt {
  font-weight: normal;
}

/* Homepage */
/* line 506, sass/cnmresponsive.scss */
body.portaltype-homepage #main {
  padding-bottom: 0;
  padding-top: 0;
}

/* line 510, sass/cnmresponsive.scss */
div.frontpage-feature {
  margin-left: -10px;
  padding: 20px 0px 65px 10px;
}
/* line 514, sass/cnmresponsive.scss */
div.frontpage-feature img {
  width: 565px;
  height: 405px;
}

/* line 520, sass/cnmresponsive.scss */
#frontpage-news-wrapper {
  padding-top: 20px;
}
/* line 523, sass/cnmresponsive.scss */
#frontpage-news-wrapper .frontpage-news {
  margin-bottom: 10px;
  padding-bottom: 40px;
}
/* line 527, sass/cnmresponsive.scss */
#frontpage-news-wrapper .frontpage-news img {
  /* Fill the viewport for mobile */
  width: 305px;
  height: 150px;
}

/* line 534, sass/cnmresponsive.scss */
div.frontpage-news {
  width: 305px;
  height: 150px;
}

/* line 538, sass/cnmresponsive.scss */
div.readMore {
  position: relative;
  z-index: 100;
  top: -40px;
  left: 35px;
}
/* line 543, sass/cnmresponsive.scss */
div.readMore a:last-child {
  color: #41b6e6;
  display: inline-block;
  padding-left: 50px;
  text-indent: 100%;
  overflow: hidden;
  width: 0;
  background: transparent url("img/icon-readmore.png") no-repeat left center;
  float: right;
}
/* line 91, sass/_cnmresponsive_variables.scss */
div.readMore a:last-child:hover {
  color: #e35205;
}

/* line 549, sass/cnmresponsive.scss */
.frontpage-news h2 {
  font-size: 24px;
  margin: 0;
}
/* line 553, sass/cnmresponsive.scss */
.frontpage-news h2 a, .frontpage-news h2 a:visited {
  display: inline-block;
  width: 305px;
  height: 180px;
  background-size: 305px 150px;
  padding: 5px 20px 5px 5px;
  text-shadow: black 2px 2px 1px;
  color: #fefcef;
  transition: color 1s ease;
  -webkit-transition: color 1s ease;
}
/* line 564, sass/cnmresponsive.scss */
.frontpage-news h2 a:hover, .frontpage-news h2 a:visited:hover {
  color: #FFD200;
  text-decoration: none;
}
/* line 570, sass/cnmresponsive.scss */
.frontpage-news .breakingNews {
  background-color: #8b2222;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding: 6px 10px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-transform: uppercase;
  margin: 5px 10px 0 0;
  line-height: 17px;
  float: left;
  display: block;
}
/* line 584, sass/cnmresponsive.scss */
.frontpage-news #all-news {
  background-color: #003A70;
  color: #FFFFFF;
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  padding: 0 20px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  line-height: 25px;
  display: inline-block;
  color: #003A70;
  background-color: #f6be00;
  font-style: normal;
  font-family: 'Oswald', sans-serif;
  padding: 0 20px;
  margin: 0 -6px;
  line-height: 25px;
  display: inline-block;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0 -25px;
  float: left;
}

/* line 592, sass/cnmresponsive.scss */
#homepage-bottom #steps-row {
  margin-bottom: 40px;
}
/* line 595, sass/cnmresponsive.scss */
#homepage-bottom #steps {
  color: #494a4c;
  background-color: #fcf8e5;
}
/* line 599, sass/cnmresponsive.scss */
#homepage-bottom #steps ul {
  display: table;
  width: 100%;
  text-align: center;
}
/* line 604, sass/cnmresponsive.scss */
#homepage-bottom #steps li {
  display: table-cell;
  position: relative;
  width: 1%;
  padding-bottom: 30px;
}
/* line 610, sass/cnmresponsive.scss */
#homepage-bottom #steps li:hover {
  background-color: #f6be00;
  color: #FFFFFF;
}
/* line 614, sass/cnmresponsive.scss */
#homepage-bottom #steps h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: #b4b6b8;
  background-color: #FFFFFF;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top: 23px;
}
/* line 627, sass/cnmresponsive.scss */
#homepage-bottom #steps .description,
#homepage-bottom #steps .learnMore {
  display: block;
  color: #494a4c;
}
/* line 633, sass/cnmresponsive.scss */
#homepage-bottom #steps .description {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  position: relative;
  top: -97px;
}
/* line 639, sass/cnmresponsive.scss */
#homepage-bottom #steps .learnMore {
  text-transform: lowercase;
  padding-bottom: 10px;
}
/* line 644, sass/cnmresponsive.scss */
#homepage-bottom #popular {
  background-color: #F5F7F9;
  padding: 20px 0 100px 0;
}
/* line 648, sass/cnmresponsive.scss */
#homepage-bottom #popular h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 5px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  color: #41b6e6;
  border-bottom: 1px dotted #003A70;
}
/* line 658, sass/cnmresponsive.scss */
#homepage-bottom #popular ul {
  padding: 0 20px;
  list-style-type: disc;
}
/* line 662, sass/cnmresponsive.scss */
#homepage-bottom #popular li {
  float: left;
  width: 42%;
  display: list-item;
  margin: 0px 20px;
}
/* line 667, sass/cnmresponsive.scss */
#homepage-bottom #popular li a:hover {
  text-decoration: underline;
}

/* line 673, sass/cnmresponsive.scss */
#calendar-cell {
  padding-top: 11px;
}

/* Footer */
/* line 677, sass/cnmresponsive.scss */
#footer-wrapper {
  background-color: #fcf8e5;
  color: #41b6e6;
  border-top: 6px solid #e35205;
}
/* line 682, sass/cnmresponsive.scss */
#footer-wrapper a {
  color: #51534A;
}
/* line 685, sass/cnmresponsive.scss */
#footer-wrapper a:hover {
  text-decoration: underline;
}
/* line 688, sass/cnmresponsive.scss */
#footer-wrapper h3 {
  color: #41b6e6;
  border-bottom: 1px dotted #aebfd0;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 40px;
  margin: -10px 0 9px 0;
}
/* line 695, sass/cnmresponsive.scss */
#footer-wrapper h3 a {
  color: #41b6e6;
}
/* line 698, sass/cnmresponsive.scss */
#footer-wrapper h3 a:hover {
  color: #e35205;
}
/* line 702, sass/cnmresponsive.scss */
#footer-wrapper #flickr-wrapper .tabs {
  display: none;
}
/* line 705, sass/cnmresponsive.scss */
#footer-wrapper #footer {
  width: 60em;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 708, sass/cnmresponsive.scss */
#footer-wrapper #footer #footerlinks {
  font-size: 14px;
  line-height: 20px;
}
/* line 713, sass/cnmresponsive.scss */
#footer-wrapper #infophotos {
  margin-top: 20px;
}

/* line 718, sass/cnmresponsive.scss */
#social {
  color: #003A70;
  line-height: 40px;
}
/* line 721, sass/cnmresponsive.scss */
#social li {
  line-height: 40px;
  display: inline;
}
/* line 725, sass/cnmresponsive.scss */
#social #facebook a {
  color: #003A70;
  display: inline-block;
  padding-left: 50px;
  text-indent: 100%;
  overflow: hidden;
  width: 0;
  background: transparent url("img/facebook.png") no-repeat left center;
}
/* line 91, sass/_cnmresponsive_variables.scss */
#social #facebook a:hover {
  color: #e35205;
}
/* line 728, sass/cnmresponsive.scss */
#social #twitter a {
  color: #003A70;
  display: inline-block;
  padding-left: 50px;
  text-indent: 100%;
  overflow: hidden;
  width: 0;
  background: transparent url("img/twitter_bird.png") no-repeat left center;
}
/* line 91, sass/_cnmresponsive_variables.scss */
#social #twitter a:hover {
  color: #e35205;
}
/* line 731, sass/cnmresponsive.scss */
#social #youtube a {
  color: #003A70;
  display: inline-block;
  padding-left: 50px;
  text-indent: 100%;
  overflow: hidden;
  width: 0;
  background: transparent url("img/youtube.png") no-repeat left center;
}
/* line 91, sass/_cnmresponsive_variables.scss */
#social #youtube a:hover {
  color: #e35205;
}
/* line 734, sass/cnmresponsive.scss */
#social #instagram a {
  color: #003A70;
  display: inline-block;
  padding-left: 50px;
  text-indent: 100%;
  overflow: hidden;
  width: 0;
  background: transparent url("img/icon-instagram.png") no-repeat left center;
}
/* line 91, sass/_cnmresponsive_variables.scss */
#social #instagram a:hover {
  color: #e35205;
}

/* Tiny Styles */
/* line 740, sass/cnmresponsive.scss */
.rightcolumn-highlight {
  float: right;
  clear: right;
  width: 200px;
  color: #76797C;
  font-weight: normal;
  border-left: 0px solid #76797C;
  background-color: #F5F7F9;
  padding: 10px;
  margin: 30px 0px 30px 30px;
  background-image: url(/++theme++cnm.responsive/img/highlight-yellow-arrow.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
}

/* line 756, sass/cnmresponsive.scss */
#colophon-wrapper {
  background-color: #51534A;
  color: #aebfd0;
}
/* line 759, sass/cnmresponsive.scss */
#colophon-wrapper a {
  color: #FFFFFF;
}
/* line 762, sass/cnmresponsive.scss */
#colophon-wrapper a:hover {
  text-decoration: underline;
}
/* line 765, sass/cnmresponsive.scss */
#colophon-wrapper #colophon {
  background-color: #51534A;
  width: 60em;
  margin: 0 auto;
  padding: 10px 0;
}
/* line 769, sass/cnmresponsive.scss */
#colophon-wrapper #colophon .footer-about a,
#colophon-wrapper #colophon .footer-mobile-bottom a {
  margin-left: 20px;
}

/* line 775, sass/cnmresponsive.scss */
#colophon-text {
  text-align: right;
  font-size: 14px;
  line-height: 20px;
}

/* Visibility */
/* line 782, sass/cnmresponsive.scss */
.showForSmall {
  display: none !important;
}

/* Plone internal overrides */
/* line 787, sass/cnmresponsive.scss */
#content div.newsImageContainer {
  float: right;
  margin: 0 1em 0.5em;
  width: 200px;
}

/* line 35, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-mycnm a:before {
  content: "🔒";
}

/* line 51, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-distance-learning a:before {
  content: "✎";
}

/* line 56, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-chat-now a:before {
  content: "";
}

/* line 149, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/font-icons-1.0.5.beta/stylesheets/base/_entypo-vars.scss */
#portal-siteactions #siteaction-espanol a:before {
  content: "𝌍";
}

@font-face {
  font-family: "entypo";
  src: url('fonts/entypo.eot?1422396531');
  src: url('fonts/entypo.eot?&1422396531#iefix') format("embedded-opentype"), url('fonts/entypo.woff?1422396531') format("woff"), url('fonts/entypo.ttf?1422396531') format("truetype"), url('fonts/entypo.svg?1422396531#entypo') format("svg"), url('fonts/entypo.otf?1370379746') format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Hover Effects */
/* Font Colors */
/* White */
/* Light blue */
/* Deep blue */
/* Medium blue */
/* Medium gray */
/* Responsive breakpoints */
/* line 4, sass/_career-coach.scss */
#career-coach {
  border: 1px #fbf0c0 solid;
  width: 75%;
  -moz-box-shadow: 2px 2px 10px #888;
  -webkit-box-shadow: 2px 2px 10px #888;
  box-shadow: 2px 2px 10px #888;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: 5px 10px;
  font-size: 1.0em;
}
/* line 12, sass/_career-coach.scss */
#career-coach img.career-coach-image {
  width: 40%;
  height: auto;
}
/* line 17, sass/_career-coach.scss */
#career-coach h2.box-heading {
  float: right;
  padding: 0;
  margin: 6% 0 0 0;
  font-size: 1.5em;
}
/* line 24, sass/_career-coach.scss */
#career-coach div.search-row {
  padding: .55em 0;
}
/* line 27, sass/_career-coach.scss */
#career-coach div.search-row p {
  float: left;
  width: 27%;
  padding: 0;
  margin: 0;
  font-size: 0.75em;
}
/* line 36, sass/_career-coach.scss */
#career-coach div.search-inputs {
  float: right;
  width: 65%;
}
/* line 41, sass/_career-coach.scss */
#career-coach input[type=text] {
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  font-family: 'Lato', sans-serif;
  -moz-box-shadow: 0px 0px 1px #888;
  -webkit-box-shadow: 0px 0px 1px #888;
  box-shadow: 0px 0px 1px #888;
  width: 99%;
  height: 30px;
  font-size: 1.2em;
}
/* line 48, sass/_career-coach.scss */
#career-coach input[type=submit] {
  font-size: 1.2em;
  width: 50px;
  height: 37px;
  background: #049cdb;
  color: #FFF;
  border: none;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  float: right;
  margin: 5px 0;
}
/* line 60, sass/_career-coach.scss */
#career-coach input[type=submit]:hover {
  color: #fbf0c0;
  border: 1px solid #fbf0c0;
  background: #0064cd;
  cursor: pointer;
}
/* line 67, sass/_career-coach.scss */
#career-coach a {
  font-size: 0.8em;
}
/* line 71, sass/_career-coach.scss */
#career-coach span.bigger {
  font-size: 2.5em;
}

@media only screen and (max-width: 767px) {
  /* line 796, sass/cnmresponsive.scss */
  #view-mobile-site {
    display: inline;
  }

  /*.showForSmall {*/
  /*display: inherit !important;*/
  /*}*/
  /*.showForLarge {*/
  /*display: none !important;*/
  /*}*/
}
@media only screen and (min-width: 768px) {
  /* line 810, sass/cnmresponsive.scss */
  #view-mobile-site {
    display: none;
  }

  /*.showForSmall {*/
  /*display: none !important;*/
  /*}*/
  /*.showForLarge {*/
  /*display: inherit !important;*/
  /*}*/
}
