#navbar-searchbox {
        display: none;
}

#mycnm-logo-footer {
        display: none;
}

        #blackboard-footer {
                display: none;
            }

            .bootstrapStyles div.navbar-inner {
                    filter: none;
                }
