#navbar-searchbox {
    display: none;
}

#mycnm-logo-footer {
    display: none;
}

#blackboard-footer {
	display: none;
}

.bootstrapStyles div.navbar-inner {
	filter: none;
}

ul.nav > li:first-child a {
  padding: 20px 20px !important;
}
