<!-- This is the HTML for the career coach widget. CSS and JS for this widget are contained alongside the cnm.responsive theme. Paste the code into the editor on any plone page to add the widget. -->

<div id="career-coach">
	<div>
		<img src="u6_normal.png" class="career-coach-image" />
		<h2 class="box-heading">Find a <span class="bigger">CAREER</span></h2>
		<div class="visualClear"></div>
	</div>
	<div class="search-row">
		<p>Enter a career into the box to find out about wages and job prospects.</p>
		<div class="search-inputs">
			<form id="career-coach-search" action>
			<label for="career-coach-query" style="display: none;">Enter your search query:</label>
			<input type="text" name="career" id="career-coach-query" class="career-coach-input" placeholder="Search careers & degrees by keyword..." />
			<br>
			<input type="submit" name="search" id="career-coach-go" value="Go" />
			</form>
		</div>
		<div class="visualClear"></div>
	</div>
	<a href="http://careercoach.cnm.edu/">Go to Career Coach</a>
</div>
